asn1crypto==0.23.0
certifi==2017.7.27.1
cffi==1.11.2
chardet==3.0.4
cryptography==2.1.2
decorator==4.1.2
Django==1.11.6
django-bootstrap3==8.2.3
django-saml2-auth==2.1.1
django-tables2==1.6.1
future==0.16.0
idna==2.6
Paste==2.0.3
pycparser==2.18
pycryptodomex==3.4.7
pyOpenSSL==17.3.0
pysaml2==4.0.5
python-dateutil==2.6.1
pytz==2017.2
repoze.who==2.3
requests==2.18.4
six==1.11.0
urllib3==1.22
WebOb==1.7.3
zope.interface==4.4.3
