asn1crypto==0.23.0
awsebcli==3.12.0
blessed==1.14.2
botocore==1.7.36
cement==2.8.2
certifi==2017.7.27.1
cffi==1.11.2
chardet==3.0.4
colorama==0.3.7
cryptography==2.1.2
decorator==4.1.2
Django==1.11.23
django-bootstrap3==8.2.3
django-saml2-auth==2.1.1
django-tables2==1.6.1
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
future==0.16.0
idna==2.6
jmespath==0.9.3
Paste==2.0.3
pathspec==0.5.0
pycparser==2.18
pycryptodomex==3.4.7
pyOpenSSL==17.3.0
pysaml2==6.5.0
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
repoze.who==2.3
requests==2.9.1
semantic-version==2.5.0
six==1.11.0
tabulate==0.7.5
termcolor==1.1.0
urllib3==1.22
wcwidth==0.1.7
WebOb==1.7.3
websocket-client==0.44.0
zope.interface==4.4.3
